
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="para-ti">
    <ion-icon name="checkmark-outline"></ion-icon>
    para ti
  </ion-tab-button>
  <ion-tab-button tab="titulares">
    <ion-icon name="planet-outline"></ion-icon>
    titulares
  </ion-tab-button>
  <ion-tab-button tab="favoritos">
    <ion-icon name="ribbon-outline"></ion-icon>
    favoritos
  </ion-tab-button>
  <ion-tab-button tab="infinite-scroll">
    <ion-icon name="ribbon-outline"></ion-icon>
    infinite scroll
  </ion-tab-button>
</ion-tab-bar>