
<!-- noticia-->
<ion-card  *ngIf="loaded">
  <ion-card-header>
    <ion-card-title>{{ noticia.title }}</ion-card-title>
    <ion-card-subtitle>Noticia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ noticia.description }}</p>
    <img [src]="'assets/' + noticia.imageUrl" alt="{{ noticia.title }}">
  </ion-card-content>
</ion-card>

<!-- skeleton -->
<ion-card  *ngIf="!loaded">
  <ion-card-header>
    <ion-card-title>
      <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-skeleton-text [animated]="true" style="width: 20%"></ion-skeleton-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p><ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 90%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 95%"></ion-skeleton-text></p>
    <ion-thumbnail  style="width: 100%;; height: 110px;margin-top: 10px;">
      <ion-skeleton-text style="width: 100%;" [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-card-content>
</ion-card>



  

