
<!-- noticia-->
<ion-card  *ngIf="loaded">
  <ion-card-header>
    <ion-card-title>{{ noticia.title }}</ion-card-title>
    <ion-card-subtitle>Noticia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ noticia.description }}</p>
    <img [src]="'assets/' + noticia.imagen" alt="{{ noticia.title }}">
    
    <div class="contenedor">
     <ion-button fill="clear" (click)="ver(noticia.url)"> ver</ion-button> 
     <ion-button fill="clear" id="{{ noticia.title }}" >
      <ion-icon name="ellipsis-vertical"></ion-icon>
     </ion-button>
     <ion-popover trigger="{{ noticia.title }}" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" (click)="guardarFavoritos(noticia.title)" [detail]="false">guardar en favoritos
              <ion-icon slot="end" name="heart-outline"></ion-icon><ion-icon slot="end" name="heart"></ion-icon>
            </ion-item>
            <ion-item [button]="true" (click)="compartir(noticia.url)" [detail]="false">compartir</ion-item>
            <ion-item [button]="true" (click)="ver(noticia.url)">ver</ion-item>
    
            
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    </div>
    
  </ion-card-content>
</ion-card>

<!-- skeleton -->
<ion-card  *ngIf="!loaded">
  <ion-card-header>
    <ion-card-title>
      <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-skeleton-text [animated]="true" style="width: 20%"></ion-skeleton-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p><ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 90%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text></p>
    <p><ion-skeleton-text [animated]="true" style="width: 95%"></ion-skeleton-text></p>
    <ion-thumbnail  style="width: 100%;; height: 110px;margin-top: 10px;">
      <ion-skeleton-text style="width: 100%;" [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
  </ion-card-content>
</ion-card>

<ion-toast
[isOpen]="isToastOpen"
[message]="message"

[duration]="5000"
(didDismiss)="setOpen(false)"
></ion-toast>

  

